:root{
    --transition:300ms;
}
@font-face {
    font-family: 'iransans';
    src: url(../fonts/IRANSansWeb.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iransansbold';
    src: url(../fonts/IRANSansWeb_Bold.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
}
body{
    margin: 0px;
    direction: rtl;
    font-family: 'iransans', sans-serif !important; 
}
h1,h2,h3,p,h4,h5,h6{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: unset;
}
img{
    width: 100%;
}
ul{
    padding: 0;
}
.container{
    max-width: 1340px;
    margin: 0rem 1rem;
    padding: 0.5rem 0;
}
.line-limit {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: var(--line-limit, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.date img{
    width: 14px;
}
/* header-top */
.header__Top {
    background-color: #123c69;
}
span.mskIcon svg{
    width: 1rem;
    height: 1rem;
}

.header__Top__Section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header__Top__Date {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.header__Top__Date p {
    line-height: 1.2;
    color: white;
    font-size: 12px;
}
p.date-shamsi::after{
    content: "";
    width: 100%;
    height: 100%;
    border-left: 1px solid #ffffff7d;
    padding-right: 0.5rem;
}
.header__Top__Social{
    display: none;
}
span.mskIcon {
    width: 20px;
    height: 20px;
}

@media screen and (min-width: 767px){
    .container{
        padding: 0.5rem;
    }
    a.mskIcon {
        width: 16px;
        height: 16px;
    }
    .header__Top__Section{
        justify-content: space-between;
        padding: 0.25rem 0;
    }
    .header__Top__Social{
        display: none;
    }
    .header__Top__Social{
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }
}
@media screen and (min-width: 1350px){
    .container{
        margin: 0 auto;
    }
}
.headerMain{
    background-color: #1fbbb7;
}
/* header-main */
.header-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-mobile-left{
    display: flex;
    gap: 1.25rem;
}
.header-mobile-left img{
    width: 1.25rem;
}
.header-mobile-left .menu{
    width: 24px;
    height: 24px;
}
.header-mobile-left .search-box .btn-search{
    width: 24px;
    height: 24px;
}
.header-mobile-left .search-box .btn-search svg{
    width: 24px;
    height: 24px;
}
.header-mobile-left .input-search{
    padding: 0px;
}
.mobile-menu {
    background: #1fbbb7;
    width: -webkit-fill-available;
    width: -moz-available;
    height: 100%;
    position: fixed;
    top: 0;
    padding: 1rem;
    transition: var(--transition);
    transform: translateX(100%);
    z-index: 10;
}
.mobile-menu .logo img{
    width: 64px;
}
.main-mobile-menu>ul{
   padding-right: 1rem;    
}
.main-mobile-menu li:not(:last-child) {
    border-bottom: 1px solid #ffffff2b;
}
.main-mobile-menu li{
    list-style: none;
}
.main-mobile-menu li a , .main-mobile-menu .title-standard-menu{
    text-decoration: none;
    color: #ffffff;
    line-height: 3;
    font-size: 1rem;
    font-family: "iransansbold";
}
.header-mobile-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-mobile .logo{
    width: 2.5rem;
    height: 2.5rem;
}
.header-mobile-menu .close img{
    width: 1.5rem;
    cursor: pointer;
}
.footer-mobile-menu{
    display: flex;
    justify-content: center; 
}

.header__footer__Social{
    position: fixed;
    bottom: 6%;
    display: flex;
    gap: 1rem;
}
.mobile-menu.active{
    transform: translateX(0%);
}
.heder-desktop{
    display: none;
}
@media screen and (min-width:992px){
    .header-mobile{
        display: none;
    }
    .heder-desktop{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
/* header-desktop */
.heder-desktop .logo{
    display: flex;
    width: 60px;
    height: 60px;
}
.heder-desktop .logo img{
    width: 60px;
}
.heder-desktop .menu ul {
    display: flex;
    gap: 2rem;
}
.heder-desktop .menu li{
    list-style: none;
}
.heder-desktop .menu li a{
    text-decoration: unset;
    color: white;
    font-size: 1rem;
}
.header-desktop-right{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.heder-desktop .search img{
    width: 2rem;
}
/* search */
.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  
  .input-search {
    height: 30px;
    width: 0px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
    background-color: transparent;
    padding-right: 40px;
    color: #fff;
    direction: rtl; 
  }
  
  .input-search::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  
  .btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    left: -8px;
    color: #ffffff;
    background-color: transparent;
  }
  
  .btn-search:focus ~ .input-search,
  .input-search:focus {
    width: 110px;
    height: 30px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    padding-left: 80px;
    padding-right: 20px;
  }
  
  @media screen and (min-width:991px){
    .btn-search:focus ~ .input-search,
    .input-search:focus {
        width: 300px;
    }
  }
/* standard-menu */
.heder-desktop .have-submenu:hover ul.standard-menu {
    display: flex !important;
    flex-direction: column;
    gap: 0.5rem !important;
    background: #193a67;
    box-shadow: 1px 3px 20px 0px #1d386559;
    position: absolute;
    padding: 0.5rem 1.5rem;
    z-index: 1;
    margin-top: 2px;
    width: 11rem;
}
.heder-desktop .menu ul.standard-menu{
    display: none;
}
.title-standard-menu{
    color: white;
    display: flex;
    gap: 0.5rem;
   align-items: center;
}
.heder-desktop .standard-menu li{
    padding: 0.5rem 1rem 0.5rem;
    transition: var(--transition);
}
.heder-desktop .standard-menu li:hover{
    padding-right: 1.25rem;
}
.standard-menu li:not(:last-child){
    border-bottom: 1px solid #ffffff36;
}
.heder-desktop .standard-menu li a{
 font-size: 15px;
}
.title-standard-menu svg{
 transition: var(--transition);
 transform: rotate(180deg);
}
.have-submenu:hover .title-standard-menu svg{
transform: rotate(0deg);
}
/* standardmenu-mobile */
.main-mobile-menu .title-standard-menu {
    justify-content: space-between;
}
.main-mobile-menu .standard-menu>li>a{
    font-size: 15px;
}
.main-mobile-menu .standard-menu>li {
    padding-right: 1rem;
}
.main-mobile-menu .standard-menu{
display: none;
}
.main-mobile-menu .have-submenu.active  .standard-menu{
    display: block;
}
.main-mobile-menu .have-submenu .title-standard-menu svg{
    transform: rotate(180deg);
}
.main-mobile-menu .have-submenu.active .title-standard-menu svg{
    transform: rotate(0deg);
 }
/* slider */
.splide__slide {  
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.slider-box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;

}
.image-slide img{
    object-fit: cover;
    transition: var(--transition);
}
.content-slide .rotitr{
    color: #1fbbb7;
    font-size: 14px;
    line-height: 2;
    font-weight: bold;
}
.content-slide{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.content-slide .details{
    --line-limit:4;
    font-size: 14px;
    margin-bottom: 1rem;
    text-align: justify;
    line-height: 2;
}
.content-slide .date{
  margin-bottom: 1rem;
}
.content-slide .date img{
    width: 1rem;
}
.splide__pagination__page {
    background: #a4a4a4 !important;
}
.splide__pagination__page.is-active {
	background: #098481 !important;
	transform: scale(1) !important;
	z-index: 1;
}
.container-inner{
    max-width: 1300px;
    padding: 1.5rem;
    box-shadow: 0px 1px 20px 0px #8080803d;
    margin: 2rem 1rem 0;
}
.splide__list {
    height: 400px;
}
.splide__slide {
    height: 100% !important;
}
@media screen and (min-width:768px){
    .slider-box {
        flex-direction: row;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    .image-slide img {
        width: 250px;
        height: 250px;
}
}
@media screen and (min-width:992px){
    .image-slide img {
        width: 400px;
        height: 300px;
        object-fit: cover;
    }
}
h2{
    font-family: 'iransansbold';
    line-height: 1.25;
    text-align: justify;
}
h2 a{
    text-decoration: unset;
    color: black;
    font-size: 1rem;
    transition: var(--transition);
}
.image-slide{
    width: 100%;
    overflow: hidden;
}
.slider-box:hover h2>a{
    color: #123c69;
}
.slider-box:hover .image-slide img{
    scale: 1.1;
}
/* news */
@media screen and (min-width:768px){
    .news-section-list{
        --grid-column:3 !important;
    }

}
@media screen and (min-width:1399px){
    .container-inner{
        margin: 2rem auto;
    }
}
.news-section-list{
    display: grid;
    --grid-column:1;
    grid-template-columns: repeat(var(--grid-column) , 1fr);
    gap: 1.5rem;
}
.news-item .image{
    overflow: hidden;
    width: 100%;
    height: 240px;
    margin-bottom: 1rem;
}
.news-item .image img {
    object-fit: cover;
    transition: var(--transition);
}
.news-item .content{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.news-item  small.rotitr{
    color: #098481;
    min-height: 22px;
    text-align: justify;
}
h3{
    font-family: 'iransansbold';
}
.news-item h3 {
    line-height: 1.5;
    text-align: justify;
}
.news-item h3 a{
    color: black;
    font-size: 16px;
    transition: var(--transition);
}
.news-item .dec{
    --line-limit:2;
    color: gray;
    font-size: 14px;
}
time{
    font-size: 12px;
    color: gray;
    display: flex;
    gap: 0.25rem;
    align-items: center;
    justify-content: flex-end;
}
.news-item:hover .image img{
    scale: 1.1;
}
.news-item:hover h3 a{
color: #123c69;
}
/* readnews */
.container-inner-section{
    max-width: 1340px;
    margin: 2rem 1rem 0;
}
@media screen and (min-width:1399px){
    .container-inner-section{
        margin: 2rem auto;
    }
}
.container-inner-section .box-innser>.title{
  border-bottom: 3px solid #098481;
}
.container-inner-section .title-box{
  display: inline;
  background-color: #098481;
  color: white;
  padding: 0.25rem 1rem;
  line-height: 1.8;
}
@media screen and (min-width:992px){
    .news-read-list{
        --grid-column:3 !important;
    }
}
.news-read-item .img {
    overflow: hidden;
    width: 150px;
    height: 100px;
}
.news-read-item .img img{
    width: 150px;
    height: 100px;
    object-fit: cover;
    transition: var(--transition);
}
.news-read-item:hover .img img{
    scale: 1.1;
}
.news-read-list{
    display: grid;
    --grid-column:1;
    grid-template-columns: repeat(var(--grid-column) , 1fr);
    gap: 1.5rem;
    padding: 1.5rem;
    box-shadow: -1px 1px 20px 0px #8080803d;
}
.news-read-item{
    display: flex;
    gap: 1rem;
}
.news-read-item .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news-read-item .title a{
    color: black;
    font-size: 14px;
    text-align: justify;
    transition: var(--transition);
}
.news-read-item:hover .title a{
    color: #123c69;
}
/* three-column */
.three-tab {
    background-color: #eee;
}
.three-tab .container-inner-section{
    display: grid;
    --grid-column:1;
    grid-template-columns: repeat(var(--grid-column) , 1fr);
    gap: 1.5rem;
    padding: 1.5rem 0;
}
@media screen and (min-width:992px){
    .three-tab .container-inner-section{
        --grid-column:3 !important;
    }
}
.three-tab .news-read-list{
        grid-template-columns: 1fr;

}
.three-tab .content {
    width: 100%;
    gap: 1rem;
}
.three-tab .box-three-tab:not(:last-child) .news-read-item:not(:last-child) .content{
    border-bottom: 1px solid #dddddd;
    padding-bottom: 0.5rem;
}
.three-tab h5.title {
    text-align: justify;
}
.box-three-tab:nth-child(1)  .title , .box-three-tab:nth-child(2) .title{
    border-color: #123c69;
}
.box-three-tab:nth-child(1)  .title-box, .box-three-tab:nth-child(2) .title-box{
      background-color: #123c69;
      display: inline-flex;
      gap: 0.5rem;
}
.box-three-tab .title-box>img{
    width: 1rem;
}
.box-three-tab.video .news-read-list{
    background-color: white;
} 
.box-three-tab.video .news-read-list .img img {
    width: 120px;
    height: 80px;
}
.box-three-tab.video .img{
    position: relative;
    width: 120px;
    height: 80px;
}

.box-three-tab.video .img::after{
    content: "";
    position: absolute;
    background-image: url(../icon/lets-icons--video-fill.svg);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    left: 35%;
    top: 25%;
    transition: var(--transition);
}
.box-three-tab.video .news-read-item:hover .img::after{
    left: 75%;
    top: 0%;
}
.content div.title{
    font-family: 'iransansbold';
}